@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dosis&family=Fredoka+One&family=Montserrat+Alternates&family=Quicksand&family=Raleway&family=Unbounded&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* font-family: 'Courgette', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Unbounded', cursive; */
.featured {
  font-family: "Dosis", sans-serif;
}
.app {
  font-family: "Quicksand", sans-serif;
}
.signIn,
.checkOut,
.navbar {
  font-family: "Unbounded", cursive;
}

.checkOut {
  line-height: 45px;
}

.wishlist {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
}

.background {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img {
  transition: 0.8s ease-in-out transform;
  filter: brightness(55%);
}
.img:hover {
  transform: scale(1.02);
  filter: brightness(56%);
}

.zoom {
  transition: 0.5s ease-in-out transform;
}
.zoom:hover {
  transform: scale(1.02);
}

.imgs {
  transition: 0.8s ease-in-out transform;
  filter: brightness(80%);
}
.imgs:hover {
  transform: scale(1.02);
  filter: brightness(82%);
}

.line {
  line-height: 43px;
}

.shop {
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
}

.topBtn {
  transition: transform 0.4s ease-in-out;
}
.topBtn:hover {
  transform: scale(1.1);
}
